{% load static %}



<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Django Projects</title>
</head>
<body>
  <nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="{% url 'projects' %}">Projects</a>
    </li>
    <li>
      <a href="{% url 'create_project' %}">Create project</a>
    </li>
    <li>
      <a href="{% url 'tasks' %}">Tasks</a>
    </li>
    <li>
      <a href="{% url 'create_task' %}">Create Task</a>
    </li>
    <li>
      <a href="{% url 'about' %}">About</a>
    </li>
  </ul>
</nav>

{% block content %} {% endblock %}


</body>
</html>