{% extends 'layouts/base.html' %} {% block content %}

<h1>About</h1>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint soluta
  similique cum, veritatis reiciendis impedit itaque laboriosam saepe nisi rem
  minima velit laborum tempora quam iste iure accusantium blanditiis? Aliquid
  laudantium enim facere, impedit dolor nam cum aut quasi perferendis expedita
  inventore nostrum sapiente repellendus? Natus earum dolorem quae at in
  explicabo quo perferendis odit, ad magni quidem distinctio voluptatibus, odio,
  nihil vitae reprehenderit molestias cum debitis! Eligendi autem odit quaerat
  alias, velit magni nihil voluptates illo neque excepturi temporibus ducimus
  quas amet nulla sint ipsum laboriosam iste dicta sit, odio totam! Illo iste
  aliquam vel laudantium sapiente alias nemo!
</p>

<p>Web site created by {{ username }}</p>

{% endblock content %}
